<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="/" method="post">
<table border="1">
	{{#if error}}
	<tr>
		<td colspan="2" class="error">{{error}}</td>
	</tr>
	{{/if}}
	<tr>
		<td>label</td>
		<td>input</td>
	</tr>
	<tr>
		<td class="label">URLs (comma seperated)</td>
		<td><input type="text" name="URL" placeholder="http://www.style.com" required/></td>
	</tr>
	<tr>
		<td class="label">fastly key</td>
		<td><input type="text" name="key" required/></td>
	</tr>
	<tr>
		<td colspan="2"><input type="reset" value="Reset" /><input type="submit" value="Go" style="float:right;"/></td>
	</tr>
</form>
