<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<div id="container" style="width: 100%">
			<div id="nav" style="width: 200px;float: left;padding-top:20px;">
				<nav>
					<a href="/">Home</a>
				</nav>
			</div>
			<div id="body" style="width: 80%;float: left;">
				{{{body}}}
			</div>
		</div>
	</body>
</html>
