<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div id="nav" style="width: 200px;float: left;">
  		<ul>
  			<li>Home</li>
  			<li>Fastly Clear</li>
  		</ul>
  	</div>
  	<div id="body" style="width: 80%;float: left;">
    {{{body}}}
    </div>
  </body>
</html>
